.searcherContainer {
  display: flex;
  align-items: center;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding: 0px 0px 8px 0px;
  gap: 10px;
}

.searcherInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
}
