.characterResumeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 320px;
  padding: 0 276px;
  background-color: var(--color-black);
  color: var(--color-white);
  position: relative;
}

.characterResumeContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 24px solid var(--color-white);
  border-left: 24px solid transparent;
}

.characterResumeContent {
  display: flex;
  gap: var(--gap-large);
  height: 100%;
}

.characterImage {
  height: 100%;
}

.characterResumeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-medium);
}

.characterResumeInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.characterResumeContainer button {
  display: flex;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .characterResumeContainer {
    height: auto;
    padding: 0;
  }
  .characterResumeContent {
    flex-direction: column;
    gap: 0;
  }

  .characterImage {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .characterResumeContainer {
    padding: 0;
  }
  .characterResumeContent {
    gap: 0;
  }

  .characterResumeInfo {
    padding: var(--gap-medium) var(--gap-small) var(--gap-large);
  }
}
