.characterCard {
  display: flex;
  flex-direction: column;
  position: relative;
}

.characterCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 13px solid var(--color-white);
  border-left: 13px solid transparent;
}

.characterCard:hover {
  cursor: pointer;
}

.characterInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-small);
  background-color: var(--color-black);
  color: var(--color-white);
  border-top: var(--color-primary) 6px solid;
  height: 56px;
}

.characterCard:hover .characterInfo {
  background-color: var(--color-primary);
}

.characterCard:hover.isFavorite .heartIcon path {
  fill: var(--color-white);
}

.characterImage {
  height: 180px;
}

.characterCard h2 {
  margin: 0;
  font-size: var(--font-size-medium);
  font-weight: 400;
}

.characterCard button {
  display: flex;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

@media (max-width: 478px) {
  .characterImage {
    height: 100%;
  }
}
