.comicsSection {
  padding: var(--gap-large) 276px 0;
  max-width: 960px;
  margin: auto;
}

@media (max-width: 1024px) {
  .comicsSection {
    padding: var(--gap-large) 0 0 var(--gap-large);
  }
}

@media (max-width: 768px) {
  .comicsSection {
    padding-left: var(--gap-small);
  }
}
